@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

h1 {
  font-family: 'Dancing Script', cursive;
  font-size: 30px;
  color: var(--color-acento);
}

h5 {
  font-family: 'Dancing Script', cursive;
  font-size: 20px;
  color: var(--color-acento);
}

img {
  width: 260px;
  height: 390px;
}