<footer data-aos="fade-up" data-aos-duration="2000" class="container footer text-justify pt-5 align-items-center">
  <h1 class="p-3">Desarrollado y diseñado con ❤️ por:</h1>
  <div   class="d-flex flex-row">
    <div class="d-flex flex-column">
      <h1 class="p-3">Tu hijo Vasquez Franklin</h1>
      <h1 class="p-3">"Analista de Sistemas"</h1>
    </div>
    <div>
      <img data-aos="zoom-in" data-aos-duration="2000"  class="container  rounded" src="assets/images/20260620_212057.jpg" alt="xd">
    </div>
  </div>
  <div class="text-center mt-5">
    <h5 >Todos los derechos reservados</h5>
    <h5 >Copyright &copy; 2026 </h5>
  </div>
</footer>
