<section data-aos="fade-up" data-aos-duration="2500" class="hero">
  <div
    class="hero-text justify-content-center align-items-center d-flex flex-column">
    <h2 class="fw-bold pb-5" data-aos="fade-left" data-aos-duration="2500"
      id="titulo">Feliz día del
      padre</h2>
    <h5 class="fw-bold text-center" data-aos="fade-right"
      data-aos-duration="2500" id="subtitulo">gracias por todo los momentos
      juntos papá, te quiero 🎉</h5>
    <h1 class="fw-bold text-center">↓</h1>
  </div>
</section>
