@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

h2,
h1,
h5 {
  font-family: 'Dancing Script', cursive;
  font-size: 50px;
  font: text shadow 2px;
  color: white;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  text-align: center;
}

section {
  height: 100vh;
}

section div {
  height: 100%;
  background: url('/assets/images/20251003_115640.jpg') no-repeat center center/cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;


}

h1 {
  margin-top: 100px;
  font-family: 'Dancing Script', cursive;
  font-size: 70px;
  font: text shadow 2px;
}